h2 {
    font-size:12px;
    color:white;
    background-color: black;
    padding:4px;
    margin:4px;
}
td {
    text-align: center;
}
select {
    width:300px;
}
form {
    margin:4px;
}
input {
    margin:1px;
}

.key {
    width: 54px;
    height: 32px;
    margin:0px;
}

